# Node modules
node_modules/
generated/

# Log
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Compiled output
dist/
build/
tmp/
temp/

# Environment variables
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db
